@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This application was developed by Alexander Pogrebinsky<br/>


<hr />

<p>Friendship APL is a private, independent, non-profit [501(c)(3)] humane society founded in Elyria, Ohio in 1957. We own and operate the largest animal shelter in Lorain County. Our members incorporated on August 30, 1957 as the Lorain County Animal Protective League. We changed our name to Friendship Animal Protective League on October 30, 2005.</p>



