@{
//ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Friendship Animal Protective League <br />
    8303 Murray Ridge Road<br />
    Elyria, Ohio 44035<br />
    <br />
    Phone: (440) 322-4321<br />
    Fax: (440) 284-0251
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:gregory@friendshipapl.org; ‎">Email Us Here!</a><br />
</address>